version: '3.9'

services:
  redis:
    image: redis:7.2
    container_name: redis_server
    restart: always
    command: >
      redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    networks:
      - redis

volumes:
  redis_data:

networks:
  redis:
    external: true
